#Python cache files
__pycache__/
*.py[cod]
*.pyo

#Virtual environment 
venv/
.venv/
env/

# Django database
db.sqlite3

#Django migration cache
*.log

#Environment variables 
.env

# VS Code settings
.vscode/

#PyCharm settings
.idea/

#OS files
.DS_Store
Thumbs.db


#Test cache
.pytest_cache/
